<!DOCTYPE html>
<html th:fragment="layout(title, links, content)" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/basePage.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<!-- naslov -->
	<title th:replace="${title}"></title>
	<!-- blok za dodatne linkove -->
    <th:block th:replace="${links}" />
</head>
<body>
<header class="zaglavlje">
	<span th:text="${#locale}"></span>
	<span th:text="#{lang.change}"></span>:
	<select id="locales" name="locales" th:with="jezik=${#locale.language}">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(jezik,'en')}"></option>
		<option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(jezik,'sr')}"></option>
	</select>
</header>

	<h2 th:text="#{base.h2}"></h2>

	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th th:text="#{base.signedAs}"></th><td><a th:href="|Korisnici/profil/${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a th:text="#{base.logout}" href="Korisnici/Logout"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th th:text="#{base.notSigned}"></th></tr>
		<tr>
			<td>
				<ul>
					<li><a th:text="#{base.registration}" href="/Trening/Korisnici/Register"></a></li>
					<li><a th:text="#{base.login}" href="/Trening/Korisnici/Login"></a></li>
				</ul>
			</td>
		</tr>
	</table>


	<div th:replace="${content}"></div>



	<footer id="podnozje" class="podnozje">
		Autor: Nemanja Murgaški 😁 <img src="images/mail.png"/>
	</footer>
</body>
</html>