header.zaglavlje {
	padding:0.5em;
	color:white;
	float:right;
	background-color:#0080ff;
}

footer.podnozje {
	padding:0.5em;
	color:white;
	background-color:#0080ff;
	position:fixed;
	right:0.5em;
	bottom:0.5em;
	border-radius:5px;
	height: 26px;
	width: 220px;
}

footer a {
	color:white;
	text-decoration: none;
}

footer img {
	width:1em;
	height:2em;
	float:right;
}