<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Clanske karte </title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>



		<h3 th:text="#{loyalitycard.name}"></h3>
		<table>
			<tr th:each="clanskaKartica, status: ${clanskeKartice}">

				<td th:text="${clanskaKartica.korisnik.korisnickoIme}"></td>
				<td><form action="/Trening/clanskaKartica/odobri" method="post"> <input type="hidden" th:value="${clanskaKartica.id}" name="id"><input th:value="#{loyalitycard.accept}" type="submit" value=""></form></td>
				<td><form action="/Trening/clanskaKartica/odbij" method="post"><input type="hidden" th:value="${clanskaKartica.id}" name="id"><input th:value="#{loyalitycard.decline}" type="submit" value=""></form></td>




			</tr>
		</table>

	</div>
</body>
</html>