<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje treninga</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>

		<form method="post" action="treninzi/dodaj"  enctype="multipart/form-data">
			<table class="forma">
				<caption th:text="#{onetraining.caption}"></caption>
				<tr><th th:text="#{onetraining.name}"></th><td><input type="text" name="naziv" /></td></tr>
				<tr><th th:text="#{onetraining.coaches}"></th><td><input type="text" name="treneri" /></td></tr>

				<tr><th th:text="#{onetraining.description}"></th><td><input type="text" name="opis" /></td></tr>
				<tr><th th:text="#{onetraining.image}"></th><td><input type="file" name="slika" /></td></tr>
				<tr><th th:text="#{onetraining.price}"></th><td><input type="number" name="cena" /></td></tr>

				<tr>
					<th th:text="#{onetraining.type}"></th>
					<td>
						<select name="tipId">
							<option th:each="tip: ${tipovi}" th:value="${tip.id}" th:text="${tip.ime}"></option>
						</select>
					</td>
				</tr>
				<tr><th th:text="#{onetraining.kind}"></th><td><select name="vrsta">
						<option>
							POJEDINACNI
						</option>
					<option>
						GRUPNI
					</option>

				</select></td></tr>
				<tr><th th:text="#{onetraining.level}"></th><td><select name="nivo">
					<option>
						AMATERSKI
					</option>
					<option>
						SREDNJI
					</option>
					<option>
						NAPREDNI
					</option>

				</select></td></tr>
				<tr><th th:text="#{onetraining.duration}"></th><td><input type="number" name="trajanje" /></td></tr>


				<tr><th></th><td><input th:value="#{addterm.add}" type="submit" value=""/></td></tr>
			</table>
		</form>
		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>
	</div>
</body>
</html>