<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje sale</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{addhall.h4}" href="/Trening/sale">Sale</a></li></h4>
			<h4><li><a th:text="#{addhall.add}" href="sale/dodaj">Dodavanje sale</a></li></h4>
		</ul>

		<form method="post" action="sale/dodaj">
			<table class="forma">
				<caption th:text="#{onetraining.hall}">Sala</caption>
				<tr><th th:text="#{addhall.mark}">Oznaka:</th><td><input type="text" name="oznaka" /></td></tr>
				<tr><th th:text="#{addhall.capacity}">Kapacitet:</th><td><input type="text" name="kapacitet" /></td></tr>
				<tr><th></th><td><input th:value="#{addhall.value}" type="submit" value=""/></td></tr>
			</table>
		</form>
		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/sale">Povratak</a></li></h4>
		</ul>
	</div>
</body>
</html>