<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje termina</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>
		<h3 th:text="${poruka}" style="color: blue;"></h3>
		<form method="post" action="/Trening/termini/dodaj">
			<a th:text="#{onetraining.hall}"></a>
			<select name="salaId" required>
				<option th:each="sala : ${sale}" th:value="${sala.id}" th:text="${sala.oznaka}">

			</select>
			<a th:text="#{onetraining.caption}" ></a>
			<select name="treningId" required>
				<option th:each="trening : ${treninzi}" th:value="${trening.id}" th:text="${trening.naziv}">

			</select>
			<input type="datetime-local" name="datum" required>
			<input th:value="#{addterm.add}"  type="submit" value="">
		</form>
		<ul>
			<h4><li><a th:value="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>
	</div>
</body>
</html>