<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a href="/Trening/treninzi">Treninzi</a></li></h4>
		</ul>
		<form action="/Trening/izvestajPretraga" method="get">
			Pocetni datum:
			<input type="datetime-local" name="pocetniDatum">
			Krajnji datum:
			<input type="datetime-local" name="krajnjiDatum">
			<input type="submit" value="Pretraga">
		</form>
		<form method="get">
			<table class="tabela">
				<caption th:text="#{izvestaj.caption}"></caption>

				<tr>
					<th th:text="#{izvestaj.trainingName}"></th>
					<th th:text="#{izvestaj.coaches}"></th>
					<th th:text="#{izvestaj.numScheduledTrainings}"></th>
					<th th:text="#{izvestaj.price}"></th>

				</tr>

				<tr th:each="izvestaj: ${izvestaji}">
					<td><a th:href="|/Trening/treninzi/${izvestaj.trening.id}|" th:text="${izvestaj.trening.naziv}"></a></td>

					<td th:text="${izvestaj.trening.treneri}"></td>
					<td th:text="${izvestaj.brojZakazanihTreninga}"></td>
					<td th:text="${izvestaj.ukupnaCena}"></td>


				</tr>
			</table>
		</form>
		<h3 th:text="#{izvestaj.totalNumbScheduledTrainings}"></h3>
		<p th:text="${ukupanBrojZakazanih}"></p>
		<h3 th:text="#{izvestaj.totalPrice}"></h3>
		<p th:text="${ukupnaCena}"></p>
		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>

	</div>
</body>
</html>