<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Trening</title>

</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<!--
			<h4><li><a href="treninzi/dodaj">Dodavanje treninga</a></li></h4>
			-->
		</ul>



		<h3 th:text="#{trening.comments}" ></h3>
		<table id="komentari">

		</table>

		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi">Povratak</a></li></h4>
		</ul>
		<script src="js/komentariOdobravanje.js"></script>

	</div>
</body>
</html>