<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
    <title>Treninzi</title>
</head>
<body>
<div th:fragment="centralniDiv">

    <ul>
        <h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi">Treninzi</a></li></h4>
    </ul>
    <form method="get">
        <a th:text="#{korisnik.username}"></a>
        <input type="text" name="korisnickoIme">
        <a th:text="#{korisnici.role}"></a>
        <select>
            <option></option>
            <option>CLAN</option>
            <option>ADMINISTRATOR</option>
        </select>
        <a th:text="#{onetraining.sort}"></a>
        <select name="sortiranje">
            <option></option>
            <option>Korisnicko ime</option>
            <option>Uloga</option>

        </select>
        <a th:text="#{korisnik.editorial}"></a>
        <select name="uredjenost">
            <option th:text="#{sale.rising}"></option>
            <option th:text="#{sale.falling}"></option>
        </select>
        <input th:value="#{korisnici.search}" type="submit" value="">
    </form>
    <form method="get">
        <table class="tabela">
            <caption>Sale</caption>

            <tr>
                <th th:text="#{korisnik.username}"></th>
                <th th:text="#{korisnici.dateTimeofRegistration}"></th>
                <th th:text="#{korisnici.role}"></th>
            </tr>

            <tr th:each="korisnik: ${korisnici}">
                <td><a th:href="|Korisnici/profil/${korisnik.korisnickoIme}|" th:text="${korisnik.korisnickoIme}"></a></td>
                <td th:text="${#temporals.format(korisnik.datumVremeRegistracije, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${korisnik.uloga}"></td>

            </tr>
        </table>
    </form>

    <ul>
        <h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
    </ul>

</div>
</body>
</html>