<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>
		<h3 th:text="${poruka}" style="color: blue;"></h3>
		<h1 th:text="#{korpa.h1}"></h1>
		<form method="get">
			<table class="tabela">
				<caption>Treninzi</caption>

				<tr>
					<th th:text="#{trening.serialNumber}"></th>
					<th th:text="#{trening.trainingName}"></th>
					<th th:text="#{korpa.coach}"></th>
					<th th:text="#{onetraining.type}"></th>

					<th th:text="#{onetraining.price}"></th>
					<th th:text="#{korpa.date}"></th>
					<th th:text="#{onetraining.options}"></th>
				</tr>

				<tr th:each="termin, status: ${termini}">
					<td th:value="${status.index + 1}"></td>
					<td><a th:href="|/Trening/treninzi/${termin.trening.id}|" th:text="${termin.trening.naziv}"></a></td>
					<td th:text="${termin.trening.treneri}"></td>
					<td th:text="${termin.trening.tip.ime}"></td>
					<td th:text="${termin.trening.cena}"></td>
					<td th:text="${#temporals.format(termin.datum, 'dd/MM/yyyy HH:mm')}"></td>

					<td><form action="/Trening/korpa/obrisi" method="post">
						<input type="hidden" th:value = "${termin.id}" name="terminId">
						<input th:value="#{korpa.delete}" type="submit" value="">
					</form>
						<form action="/Trening/termini/rezervacija" method="post">
							<input type="hidden" th:value = "${termin.id}" name="terminId">
							Broj poena:
							<input type="number" name="brojPoenaKoristi">
							<input th:value="#{korpa.reservation}" type="submit" value="">
						</form>

					</td>

				</tr>
			</table>
		</form>
		<ul>
			<h4><li><a  th:value="#{povratak.p}"href="/Trening/treninzi"></a></li></h4>
		</ul>

	</div>
</body>
</html>