<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Prijava</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>

</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Login">
			<table class="forma">
				<caption th:text="#{korisnik.login}" ></caption>
				<tr><th th:text="#{korisnik.username}"></th><td><input type="text" name="korisnickoIme"/></td></tr>
				<tr><th th:text="#{korisnik.password}"></th><td><input type="password" name="lozinka"/></td></tr>
				<tr><th></th><td><input th:value="#{korisnik.login}" type="submit" value=""/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>