<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <title>Sala</title>
</head>
<body>
<div th:fragment="centralniDiv">

    <ul>
        <h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>

    </ul>
    <h3 th:text="${poruka}" style="color: blue;"></h3>

    <form method="post" th:action="|Korisnici/profil/${korisnik.korisnickoIme}|" >

        <table class="forma">
            <caption >Korisnik</caption>
            <tr><th th:text="#{korisnik.username}"></th><td><input type="text" name="korisnickoIme" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.korisnickoIme}"/></td></tr>

            <tr><th th:text="#{korisnik.firstName}"></th><td><input type="text" name="ime" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.ime}"/></td></tr>
            <tr><th th:text="#{korisnik.lastName}"></th><td><input type="text" name="prezime" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.prezime}"/></td></tr>
            <tr><th th:text="#{korisnik.email}"></th><td><input type="text" name="email" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.email}"/></td></tr>
            <tr><th th:text="#{korisnik.adress}"></th><td><input type="text" name="adresa" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.adresa}"/></td></tr>
            <tr th:unless="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}"><th th:text="#{korisnik.password}"></th><td><input type="password"  name="lozinka"/></td></tr>
            <tr th:unless="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}"><th th:text="#{korisnik.repeatpassword}"></th><td><input type="password" name="lozinkaPotvrda"/></td></tr>

            <tr><th th:text="#{korisnik.birthDate}" ></th><td><input type="text" name="datumRodjenja" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.datumRodjenja}"/></td></tr>
            <tr><th th:text="#{korisnik.telephoneNumber}"></th><td><input type="text" name="brojTelefona" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${korisnik.brojTelefona}"/></td></tr>
            <tr><th th:text="#{korisnik.dateTimeRegistration}"></th><td><input type="text" name="datumVremeRegistracije" th:disabled="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}" th:value="${#temporals.format(korisnik.getDatumVremeRegistracije(), 'dd/MM/yyyy HH:mm')}"/></td></tr>



            <tr th:unless="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}"><th></th><td><input th:value="#{onetraining.change}" type="submit" value=""/></td></tr>
        </table>
    </form>
    <form method="post" th:unless="${korisnik.blokiran}" th:action="|Korisnici/blokiraj|">
        <input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}">
        <input th:value="#{profil.block}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" type="submit" value="">
    </form>
    <form method="post" th:if="${korisnik.blokiran}" th:action="|Korisnici/odblokiraj|">
        <input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}">
        <input th:value="#{profil.unblock}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" type="submit" value="">
    </form>

    <form method="post" th:if="${korisnik.uloga.toString() == 'CLAN'}"  th:action="|Korisnici/promenaUloge|">
        <input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}">
        <select  name="uloga">
            <option th:selected="${korisnik.uloga.toString() == 'CLAN'}">CLAN</option>
            <option th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" th:selected="${korisnik.uloga.toString() == 'ADMINISTRATOR'}">ADMINISTRATOR</option>
        </select>
        <input th:value="#{profil.changeRole}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" type="submit" value="">

    </form>
    <h3 th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:text="#{profil.reservations}"></h3>
    <table>
        <tr>
            <th th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:text="#{profil.dateTimeReservation}"></th>
            <th th:text="#{profil.cancel}" th:unless="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}"></th>
        </tr>
        <tr th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}"  th:each="rezervacija : ${rezervacije}">
            <td><a th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:href="@{/rezervacije/{id}(id=${rezervacija.id})}" th:text="${#temporals.format(rezervacija.datumVreme, 'dd/MM/yyyy HH:mm')}"></a>
            <td th:unless="${session.prijavljeniKorisnik.korisnickoIme != korisnik.korisnickoIme}"><form method="post" action="/Trening/rezervacije/otkazivanje"><input type="hidden" name="id" th:value="${rezervacija.id}"> <input th:value="#{profil.cancel}" type="submit" value=""></form></td>
        </tr>

    </table>
    <h3 th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:text="#{izvestaj.totalPrice}"></h3>
    <p th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:text="${ukupnaCena}"></p>

    <h3 th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}" th:text="#{profil.wishlist}"></h3>
    <table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}">
        <tr>
            <th th:text="#{profil.training}">Trening</th>
            <th th:text="#{profil.options}">Opcije</th>
        </tr>
        <tr th:each="zelja : ${listaZelja}">
            <td th:text="${zelja.trening.naziv}"></td>
            <td><form method="post" action="/Trening/listaZelja/otkazivanje"><input type="hidden" name="id" th:value="${zelja.id}"> <input th:value="#{korpa.delete}" type="submit" value=""></form></td>
        </tr>

    </table>

    <ul>
        <h4><li><a  th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>

    </ul>

</div>
</body>
</html>