<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Registracija</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Register">
			<table class="forma">
				<caption th:text="#{korisnik.caption}"></caption>
				<tr><th th:text="#{korisnik.username}"></th><td><input type="text" name="korisnickoIme"/></td></tr>
				<tr><th th:text="#{korisnik.password}"></th><td><input type="password" name="lozinka"/></td></tr>
				<tr><th th:text="#{korisnik.repeatpassword}"></th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
				<tr><th th:text="#{korisnik.email}"></th><td><input type="text" name="email"/></td></tr>
				<tr><th th:text="#{korisnik.firstName}"></th><td><input type="text" name="ime"/></td></tr>
				<tr><th th:text="#{korisnik.lastName}"></th><td><input type="text" name="prezime"/></td></tr>
				<tr><th th:text="#{korisnik.adress}"></th><td><input type="text" name="adresa"/></td></tr>
				<tr><th th:text="#{korisnik.telephoneNumber}"></th><td><input type="text" name="brojTelefona"/></td></tr>
				<tr><th th:text="#{korisnik.birthDate}"></th><td><input required type="date" name="datumRodjenja"/></td></tr>


				<tr><th></th><td><input th:value="#{korisnik.caption}" type="submit" value=""/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>