<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Sala</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<!--
			<h4><li><a href="/Trening/treninzi/dodaj">Dodavanje treninga</a></li></h4>
			<h4><li><a href="/Trening/sale/dodaj">Dodavanje sale</a></li></h4>
			-->
		</ul>
		<div>
			<h3 th:text="#{rezstr.date}"></h3>
			<p th:text="${rezervacija.terminTreninga.datum}"></p>

			<h3 th:text="#{rezstr.training}"></h3>
			<p th:text="${rezervacija.terminTreninga.trening.naziv}"></p>

			<h3 th:text="#{rezstr.user}"></h3>
			<p th:text="${rezervacija.korisnik.korisnickoIme}"></p>

			<h3 th:text="#{izvestaj.price}"></h3>
			<p th:text="${rezervacija.cena}"></p>
		</div>
		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>
		<!--
		<form method="post" action="treninzi/delete/${trening.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		-->
	</div>
</body>
</html>