<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Sala</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<h4><li><a th:text="#{addhall.h4}" href="/Trening/sale"></a></li></h4>
			<!--
			<h4><li><a href="/Trening/treninzi/dodaj">Dodavanje treninga</a></li></h4>
			<h4><li><a href="/Trening/sale/dodaj">Dodavanje sale</a></li></h4>
			-->
		</ul>

		<form method="post" th:action="|sale/edit/${sala.id}|" >
			<!--
			<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
			-->
			<table class="forma">
				<caption th:text="#{onetraining.hall}"></caption>
				<tr><th th:text="#{addhall.mark}">:</th><td><input type="text" name="oznaka" disabled th:value="${sala.oznaka}"/></td></tr>
				<tr><th th:text="#{addhall.capacity}"></th><td><input type="text" name="kapacitet" th:value="${sala.kapacitet}"/></td></tr>



				<tr  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><th></th><td><input th:value="#{onetraining.change}" type="submit" value=""/></td></tr>
			</table>
		</form>
		<form th:action="|sale/obrisi/${sala.id}|" method="post">
			<input th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" th:value="#{korpa.delete}" type="submit" value="">
		</form>
		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/sale"></a></li></h4>
		</ul>
		<!--
		<form method="post" action="treninzi/delete/${trening.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		-->
	</div>
</body>
</html>