<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{addhall.h4}" href="/Trening/sale"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{addhall.add}" href="/Trening/sale/dodaj"></a></li></h4>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<h3 th:text="${poruka}" style="color: blue;"></h3>
		</ul>
		<form method="get">
			<input type="text" name="oznakaPretraga">
			<select name="uredjenost">
				<option th:text="#{sale.rising}"></option>
				<option th:text="#{sale.falling}"></option>
			</select>
			<input  th:value="#{sale.search}" type="submit" value="">
		</form>
		<form method="get">
			<table class="tabela">
				<caption th:text="#{sale.name}"></caption>

				<tr>
					<th th:text="#{trening.serialNumber}"></th>
					<th th:text="#{addhall.mark}"></th>
					<th th:text="#{addhall.capacity}"></th>
				</tr>

				<tr th:each="sala, status: ${sale}">
					<td th:value="${status.index + 1}"></td>
					<td><a th:href="|/Trening/sale/edit/${sala.id}|" th:text="${sala.oznaka}"></a></td>

					<td th:text="${sala.kapacitet}"></td>

				</tr>
			</table>
		</form>

		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>

	</div>
</body>
</html>