<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>
		<form method="post" action="/Trening/specijalniDatum">
			<a th:text="#{korpa.date}"></a>
			<input type="date" name="datum">
			<a th:text="#{trening.discount}"></a>
			<input min="1" type="number" name="popust">
			<select name="treningId">
				<option value="0"></option>
				<option th:each="trening: ${treninzi}" th:value="${trening.id}" th:text="${trening.naziv}">
			</select>
			<input th:value="#{addterm.add}" type="submit" value="">
		</form>

		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi"></a></li></h4>
		</ul>

	</div>
</body>
</html>