<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title th:text="#{trening.caption}"></title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.usersReview}" href="/Trening/Korisnici/korisnici"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.addTraining}" href="treninzi/dodaj"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.addTrainingTerm}" href="/Trening/termini/dodaj"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.hall}" href="/Trening/sale"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.comments}" href="/Trening/komentar/odobravanje"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}"><li><a th:text="#{trening.shoppingCart}" href="/Trening/korpa"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.approveLoyalityCards}" href="/Trening/clanskaKartica/odobravanje"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.clan}"><li><a th:text="#{trening.requestLoyalityCard}" href="/Trening/clanskaKartica/dodaj"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.reports}" href="/Trening/izvestaj"></a></li></h4>
			<h4  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><li><a th:text="#{trening.addSpecialDate}" href="/Trening/specijalniDatum"></a></li></h4>



		</ul>

		<form method="get">
			<a th:text="#{trening.trainingName}"></a>
			<input type="text" name="naziv">
			<a th:text="#{onetraining.type}"></a>
			<select name="tipId">
				<option value="-1"></option>
				<option th:each="tip: ${tipovi}" th:value="${tip.id}" th:text="${tip.ime}"></option>
			</select>
			<br>
			<br>

			<a th:text="#{onetraining.minPrice}"></a><input type="number" min="0" name="minCena">
			<a th:text="#{onetraining.maxPrice}"></a><input type="number" min="0" name="maxCena">
			<br>

			<br>
			<a th:text="#{onetraining.coaches}"></a>
			<input type="text" name="treneri">
			<a th:text="#{onetraining.kind}"></a>
			<select name="vrsta">
				<option></option>
				<option>POJEDINACNI</option>
				<option>GRUPNI</option>
			</select>
			<a th:text="#{onetraining.level}"></a>
			<select name="nivo">
				<option></option>
				<option>AMATERSKI</option>
				<option>SREDNJI</option>
				<option>NAPREDNI</option>

			</select>
			<br>
			<br>
			<a th:text="#{onetraining.sort}"></a>
			<select name="sortiranje">
				<option></option>
				<option th:text="#{onetraining.name}"></option>
				<option th:text="#{onetraining.type}"></option>
				<option th:text="#{onetraining.price}"></option>
				<option th:text="#{onetraining.coaches}"></option>
				<option th:text="#{onetraining.kind}"></option>
				<option th:text="#{onetraining.level}"></option>
				<option th:text="#{trening.averageMark}"></option>
			</select>
			<a th:text="#{onetraining.order}"></a>
			<select name="uredjenost">
				<option></option>
				<option th:text="#{sale.falling}"></option>
				<option th:text="#{sale.rising}"></option>
			</select>
			<br>
			<br>

			<input th:value="#{korisnici.search}" type="submit" value="">

		</form>
		<form method="get">
			<table class="tabela">
				<caption th:text="#{trening.caption}"></caption>

				<tr>
					<th th:text="#{trening.serialNumber}"></th>
					<th th:text="#{trening.image}"></th>
					<th th:text="#{trening.trainingName}"></th>
					<th th:text="#{trening.price}"></th>
					<th th:text="#{trening.averageMark}"></th>
				</tr>

				<tr th:each="trening, status: ${treninzi}">
					<td th:value="${status.index + 1}"></td>
					<td><img th:src="|/Trening/images/${trening.slika}|" width="200" height="150"></td>
					<td><a th:href="|/Trening/treninzi/${trening.id}|" th:text="${trening.naziv}"></a></td>
					<td th:text="${trening.cena}"></td>
					<td th:text="${trening.prosecnaOcena}"></td>

				</tr>
			</table>
		</form>


	</div>
</body>
</html>