<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Trening</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
			<h4><li><a th:text="#{trening.addTraining}" href="treninzi/dodaj"></a></li></h4>
			<h4><li><a th:text="#{trening.addTrainingTerm}" href="/Trening/termini/dodaj"></a></li></h4>

		</ul>

		<form method="post" th:action="|treninzi/edit/${trening.id}|"  enctype="multipart/form-data">
			<!--
			<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
			-->
			<table class="forma">
				<caption th:text="#{onetraining.caption}"></caption>
				<tr><th th:text="#{onetraining.name}"></th><td><input type="text" name="naziv" th:value="${trening.naziv}"/></td></tr>
				<tr><th th:text="#{onetraining.coaches}"></th><td><input type="text" name="treneri" th:value="${trening.treneri}"/></td></tr>

				<tr><th th:text="#{onetraining.description}">Opis:</th><td><input type="text" name="opis" th:value="${trening.opis}"/></td></tr>
				<tr><th th:text="#{onetraining.price}">Cena:</th><td><input type="number" name="cena" th:value="${trening.cena}"/></td></tr>
				<tr><th th:text="#{onetraining.image}">Slika:</th><td><input type="file" name="slika" /></td></tr>
				<tr><th></th><td><img th:src="|/Trening/images/${trening.slika}|" width="200" height="150"></td></tr>

				<tr>
					<th th:text="#{onetraining.type}">Tip:</th>
					<td>
						<select name="tipId">
							<option th:each="tip: ${tipovi}" th:value="${tip.id}" th:text="${tip.ime}" th:selected="${#strings.equals(trening.tip.id, tip.id)}"></option>
						</select>
					</td>
				</tr>
				<tr><th th:text="#{onetraining.kind}">Vrsta:</th><td><select name="vrsta" >
					<option th:selected="${#strings.equals(trening.vrsta, 'POJEDINACNI')}">
						POJEDINACNI
					</option>
					<option th:selected="${#strings.equals(trening.vrsta, 'GRUPNI')}">
						GRUPNI
					</option>

				</select></td></tr>

				<tr><th th:text="#{onetraining.level}">Nivo:</th><td><select name="nivo">
					<option th:selected="${#strings.equals(trening.nivo, 'AMATERSKI')}">
						AMATERSKI
					</option>
					<option th:selected="${#strings.equals(trening.nivo, 'SREDNJI')}">
						SREDNJI
					</option>
					<option th:selected="${#strings.equals(trening.nivo, 'NAPREDNI')}">
						NAPREDNI
					</option>

				</select></td></tr>
				<tr><th th:text="#{onetraining.duration}">Trajanje:</th><td><input type="number" name="trajanje"  th:value="${trening.trajanje}" /></td></tr>



				<tr th:text="#{onetraining.change}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><th></th><td><input type="submit" value=""/></td></tr>
			</table>
		</form>
		<form action="/Trening/listaZelja/dodaj" method="post">
			<input type="hidden" th:value = "${trening.id}" name="treningId">
			<input th:value="#{onetraining.addToWishList}" type="submit" value="">
		</form>

		<h3 th:text="#{onetraining.term}">Termini</h3>
		<table>
			<tr>
				<th th:text="#{onetraining.dateAndTime}"></th>
				<th th:text="#{onetraining.hall}"></th>
				<th th:text="#{onetraining.options}"></th>

			</tr>
			<tr th:each="termin, status: ${termini}">
				<td th:text="${#temporals.format(termin.datum, 'dd/MM/yyyy HH:mm')}"></td>
				<td th:text="${termin.sala.oznaka}"></td>
				<td>	<form action="/Trening/korpa" method="post">
					<input type="hidden" th:value = "${termin.id}" name="terminId">
					<input th:value="#{onetraining.addToCart}" type="submit" value="">
				</form></td>


			</tr>
		</table>
		<h3 th:text="#{onetraining.comments}">Komentari</h3>
		<input type="hidden" id="treningIdStranica" th:value="${trening.id}">
		<table id="komentari">

		</table>
		<h3 id="poruka" style="color: blue;"></h3>
		<form id="formaDodajKomentar" th:if="${mozeKomentarisati}" method="post">
			<input type="hidden" th:value="${trening.id}" name="treningId" id="treningId">
			Tekst:
			<textarea name="tekst" id="tekst"></textarea>
			Ocena:
			<select name="ocena" id="ocena">
				<option>5</option>
				<option>4</option>
				<option>3</option>
				<option>2</option>
				<option>1</option>

			</select> <br>

			Anoniman:
			<input type="checkbox" name="anoniman" id="anoniman"> <br>

			<input type="submit" value="Dodaj komentar">

		</form>
		<!--
		<form method="post" action="treninzi/delete/${trening.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		-->
		<script src="js/komentariTrening.js"></script>

	</div>

</body>
</html>