<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Trening</title>
</head>
<body>
	<div th:fragment="centralniDiv">

		<ul>
			<h4><li><a th:text="#{trening.caption}" href="/Trening/treninzi"></a></li></h4>
		</ul>



		<h3 th:text="#{clkarta.zahtev}"></h3>
		<form th:unless="${neMozePodneti}" action="/Trening/clanskaKartica/dodaj" method="post">
			<input th:value="#{loyalitycard.accept}" type="submit" value="">
		</form>

		<ul>
			<h4><li><a th:text="#{povratak.p}" href="/Trening/treninzi">Povratak</a></li></h4>
		</ul>

	</div>
</body>
</html>